.sign-up{
    position: absolute;
    background-image: url("https://i.rtings.com/assets/pages/6S2WXjTl/best-laptop-medium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    padding-bottom: 30px;
    width: 100%;
}

.sign-up form{
    display: flex;
    flex-direction: column;
    margin-left: 37%;
    margin-top: 30px;
    background-color: rgb(168, 168, 168);
    width:fit-content;
    padding: 30px;
    border-radius: 10px;
}

h3{
    color: black;
    margin-top: -10px;
    
}

form input{
    margin: 10px;
    font-size: 15px;
    height: 30px;
    width: 270px;
    border-radius: 10px;
}

form .but{
    width:70px;
    height: 30px;
    font-size: large;
    margin-top: 20px;
    margin-left: 110px;
    background-color:  rgb(91, 128, 128);
    border-radius: 10px;
    color: white;
}
body {
    overflow: scroll; /* or overflow: scroll; */
  }
  
.but:hover{
    color: rgb(91, 128, 128);
    background-color: white;
}

.error{
    text-align: center;
    margin-top: 10px;
    color: red;
}
.class{
    width:70px;
    height: 30px;
    font-size: xx-small;
    margin-top: 5px;
    margin-left: 70px;
    border-radius: 20px;
    color: black;
    white-space: nowrap;
}